/** Main SASS file with styles that basically all pages should have. */
html, body {
  margin: 0;
  background: white;
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%; }

/** === CLEARFIX === */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

a {
  color: #2980b9; }
  a.icon-link {
    color: #95A5A6; }

p {
  line-height: 1.5em;
  margin: 1.5em 0; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 30px; }

#nav-container {
  background: #5eb854; }
  #nav-container .wrapper {
    padding: 0; }
  #nav-container #nav {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    #nav-container #nav li {
      display: inline-block;
      margin-right: 15px;
      background: #5eb854;
      padding: 15px;
      cursor: pointer; }
      #nav-container #nav li:hover {
        background: #51ab47; }
      #nav-container #nav li:active {
        background: #4ca143; }
      #nav-container #nav li a {
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 0 #4ea444; }

.content {
  width: 100%;
  min-height: 500px; }

#header #slogan {
  text-transform: uppercase; }
/*
#home-content {
  background: url("../imgs/key_bg.jpg") no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative; }
  #home-content #main-description {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
    width: 600px;
    display: block;
    font-size: 24px;
    line-height: 1.6em; }*/

#footer {
  border-top: 1px solid #AAA;
  background: #DDD; }
  #footer .footer-section {
    width: 50%;
    display: inline-block;
    padding: 15px 0 30px 0; }
    #footer .footer-section .footer-section-title {
      margin-top: 0; }
    #footer .footer-section table {
      width: 100%; }
      #footer .footer-section table tr td {
        padding: 3px 0; }
      #footer .footer-section table.hours td {
        width: 50%; }

#contact-content .wrapper .content-pane {
  display: inline-block;
  vertical-align: top; }
  #contact-content .wrapper .content-pane.left {
    width: 600px;
    margin-right: 60px; }
    #contact-content .wrapper .content-pane.left .iframe-container {
      border: 1px solid #CCC; }
  #contact-content .wrapper .content-pane.right {
    width: 290px; }
    #contact-content .wrapper .content-pane.right ul {
      padding-left: 0; }

.container-fluid {
  background-color:white;
}

.navbar-brand {
  font-size: 20px;
}


.rica-logo {
  float:left;
}

.nav-active {
  background-color: #33CC66
}



.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #33CC66;

  /*Sets the text hover color on navbar*/
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,white 0,white 100%);
    background-image: -o-linear-gradient(top,white 0,white 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(white));
    background-image: linear-gradient(to bottom,white 0,white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px white;
    box-shadow: inset 0 3px 9px white;
    border-bottom: 3px solid #33CC66;
    background-color:;
}

.navbar-default {
  height: 3.5em;
}

.photo-container {
  color:white;
  text-align: center;

background: url("https://images.unsplash.com/photo-1445551712021-28753c605094?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2e64f000e1c9d29cce4cb56a2d02290c") no-repeat top center fixed;
  margin-top:3.7em;
  height:45em;
  background-size: 100%;


/*background: url("https://images.unsplash.com/photo-1445551712021-28753c605094?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2e64f000e1c9d29cce4cb56a2d02290c") no-repeat top center fixed;
   background-size: cover;
   height: 200px;
   width: 100%;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;
   font-size: 50px;*/
}


#motto-text {
  position:relative;
  top:22%;
  font-size:50px;
  font-family: Montserrat;
  vertical-align: middle;
}

#intro-paragraph{
  text-align:center;
  height:300px;
  vertical-align: middle;
  background-color:#33CC66;

}

#intro-paragraph-text {
  position:relative;
  top:22%;
  color:#303030 ;
  font-family: Montserrat;
  font-size:18px;
}

.navbar-brand {
  font-size:24px;
}

.mission-block {
  background-color: white;
  margin-top:2em;
}

#about-us-list {
  list-style-type: none;
}

#about-us-text {
  position:relative;
  top:20%;
  color:#303030 ;
  font-weight:bold;
  font-size:18px;
}

.about-table-container {
  display:inline-block;
  width:25%;
  margin: 30px;
}



#who-we-are {
  background-color: #F8F8F8 ;
  text-align: center;
  color:#303030 ;
  height:38em;

}

.glyphicon {
  font-size: 35px;
}

.about-table {
  text-align: left;
  background-color: white;
  padding:10px ;

  border-bottom:2px solid #66CC66;
}

#about-table {
  margin-top: 40px;
  background-color: white;

}

#about-heading {
  margin-top: 30  px;
  text-align: center;
  font-family: montserrat;
  font-size: 50px;
  color: #66CC66;
}

th {
  text-align: center;
  padding-top: 10px;
}

#mission-heading {
  text-align: center;
  font-family: montserrat;
  font-size: 50px;
}

#mission-block {
   height: 40em;
   margin-top:-5%;
}


#photo-collage {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  overflow:hidden;
}

#photo-collage img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


#mission-text {
  position: relative;
  top: 20%;
  background-color:white;

}

#partners-block {
  height: 40em;
}

#footer-block {
  height: 15em;
  background-color: #282828 ;
  width: 100%;
}



.footer-table{
  background-color: #282828 ;
  border:none;
}

#services-block {
  /*position:relative;*/
  margin-top:5%;
}

#services-table {
  margin-top:5%;
}

.services-left-column{
  width:25%;
}

.services-table td{
  border-left:3px solid white;
  padding-left:3%;
  background-color:#C6E2FF;

}
.services-table {
  margin-bottom: 3%;
}

#services-drop-off {
  background:url("https://images.unsplash.com/photo-1449182325215-d517de72c42d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=528f9852c102ac3eb817c12aa758902a");
  background-size: 100%
}

#services-pickup{
  background:url("https://images.unsplash.com/photo-1448975750337-b0290d621d6d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c9f3aa8303fd019dd274456ac7746813");
  background-size:100%;
}

#services-data {
  background:url("https://images.unsplash.com/photo-1436407886995-41f8f5ee43ad?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450");
  background-size:100%;
}

#contact-content {
  margin-top:5%;
}

#map-right-content {
  display:inline-block;
  float:right;
  margin-right: -5%;

}
#map-right-content a{
  color:black;
}

#map-right-content ul {
  list-style: none;
}

#map-right-content .glyphicon {
  font-size: 25px;
  padding-right:10px;
  color:#66CC66;
}
#map {
  margin-left:-10%;
  display:inline-block;
}

#map-right-content td{
  /*border:1px solid black;*/
  padding-left:3px;
  padding-bottom:3px;
}

* {
  font-family: montserrat;
  /*border: 1px solid red ;*/
}

.glyphicon {
  text-align: center;
}



